
html, body { 
    margin:0;
    padding:0;
    height:100%;
    border: none;
}

footer {
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    margin-top: 30px;
}

body { position: absolute; 
  background:- webkit-linear-gradient(hsla(121, 100%, 18%, 1), hsla(121, 100%, 7%, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(hsla(121, 100%, 18%, 1), hsla(121, 100%, 7%, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(hsla(121, 100%, 18%, 1), hsla(121, 100%, 7%, 1)); /* For Firefox 3.6 to 15 */
  background: radial-gradient( at top right, hsla(121, 100%, 18%, 1), hsla(121, 100%, 7%, 1)); /* Standard syntax */
  background-image: url("/img/greenTexture1.jpg");
  background-size: 100%;
  text-align: center;
  width:100%;
  height:100%;
}
h1 { font-size: 4em; }
h1, h2 { 
    margin: 0;
    padding: 20px;
    color: maroon;
    font-family: "Metamorphous", "serif";
    font-weight: bold;
    background-color: hsla(21, 77%, 39%,.5);
    background-image: url("/img/woodgrain1OilBig.jpg"); 
    background-size: 100% auto;
    text-shadow: 1px 0 2px hsl(0,3%,55%);
    }

h2 {margin:20px auto; width: 300px; border-radius: 7px; }

p { padding: 20px;}

a { color:saddlebrown; text-decoration: none; padding: 10px;}

a:visited { color: hsl(0,5%,40%); }

a:hover { color: wheat;}


li, ul { display:inline;}
li { margin:0;}



/* Navigation */

nav {

    position: absolute;
    margin-top:140px;
    margin-right:0;
    margin-left: 40px;
	font-size: 30px;
	
	background-color:  hsla(29, 50%, 50%, .7);
    background-image: url("/img/woodgrain1OilBig.jpg");
    background-size: auto 100%;

	width: 250px;
    border-radius: 7px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0
}


nav a {
    display: block;
    width: 150px;
    padding: 10px 5px;
    text-decoration: none;
    color: maroon;
    font-size: 30px;
    font-family: 'Metamorphous', "Serif";
    line-height: 50px;
    margin: 0;
    width: auto;
    text-shadow: 4px 0 6px hsl(0,12%,45%);

}

nav a[href="/"] { -webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;} 

nav a[href="/about"] { -webkit-border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;} 

nav li { margin:0; width: auto;}

footer li { display: inline;}
footer div { color:black;}

/* visited link */
nav a:visited { color: maroon; }


/* mouse over link */
nav a:hover {
    text-shadow: 0 0 2px hsl(0,5%,65%);
    background-color: hsla(15,55%,85%, .3);
}



/* Text Block */

.textblock { 
    display:block;
    color:black;
    background-color: hsla(29, 50%, 50%, .7); 
    width: 60%; 
    border-radius: 5px;
    padding: 0; 
    margin: 20px auto;
    font-family: "Roboto", "sans-serif";
    font-size: 25px;
    text-shadow: 0 0 1px hsl(0,12%,25%);
    line-height: 100%;
    background-image: url("/img/woodgrain1OilBig.jpg");
    background-size: 100% auto;
}

.textblock#left { text-align: left;}


#chainsaw { 
    -ms-transform: scale(4,4); /* IE 9 */
    -webkit-transform: scale(4,4);  /*Chrome, Safari, Opera */
    transform: scale(4,4); 
    margin: 40px auto;
    margin-bottom: 170px;
}

.forms { background-image: url("/img/woodgrain1OilBig.jpg"); 
    background-size: 100% auto;
    margin: 0 auto; 
    width: 60%;
    text-align: left;
    border-radius: 5px;
}


.forms.credit>label  { margin: 10px;}
#cvc { width: 140px;}
#cvc input { width: 100px; }

form, form div { display: block;}

select, label, input,textarea { 
    display:inline-block;
    border-radius:7px;
    border:none;
    background-color: wheat;
    background-size: 100% auto; 
    margin:5px;
    padding:5px;
    margin-left: 25px;
    width: auto;
    color: maroon;
    font-size: 14px;
    font-family: 'Metamorphous', "Serif";
    text-align: left;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    display:inline-block;
    width: auto;
}

#quantity { margin-right: 240px; margin-top: 40px; }

input[type="text"] {  font-size: 20px;    color: maroon;
    font-family: 'Metamorphous', "Serif";
    text-align: left; }

input[type="submit"] {  border-radius:7px; margin-top: 0; }



label { 
    color: maroon;  
    width: 300px;
    font-size: 20px;
    font-family: 'Metamorphous', "Serif";
    text-shadow: 0 0 1px hsl(0,12%,25%);  
}

#cardno { width:400px; }

table, td, tr, th { padding: 5px; margin: 0 auto; line-height: 30px; text-align: center; border:solid; background-color:wheat;}
th {text-align: left;}

.small.form { width: 80px; margin-left: 5px; }
label.small.form[for='apt'] { margin-left: 25px; }

input#apt, input#pobox, input#rr { width: 80px; margin:0;}


.button { 
    background-color: wheat;
    margin: 20px 250px; 
    width: 80px;
    padding:10px;
    text-align: center;
    font-size: 30px;
    -webkit-transition: background-color .5s, color .5s;
    transition: background-color .5s, color .5s;
}

.button.big { 
    margin: 20px auto;
    margin-bottom: 0;
    width:100%;
    text-align: center;
    font-size: 25px;
    border-radius: 0 0 5px 5px;
}
div.button.big {padding:0;}

.button:hover { background-color: saddlebrown; color:wheat; } 


.wrapper {
    min-height:100%;
    position:relative;
}
.header {
    padding:10px;

}
.content {
    padding:10px;
    padding-bottom:80px;   /* Height of the footer element */
}
.footer {
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
    left:0;

}

.error { background-color: tomato; }

