
/*   Basic Styling
    
*/


html, body { 
    margin:0;
    padding:0;
    height:100%;
    border: none;
}

footer {
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    margin-top: 30px;
}

body { 
    position: absolute; 
    background-image: url("/img/greenTexture1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    text-align: center;
    width:100%;
    height:100%;
}
h1 { font-size: 5vw; border-bottom: solid saddlebrown;}
h1, h2 { 
    margin: 0;
    padding: 20px;
    height:5%;
    color: maroon;
    font-family: "Metamorphous", "serif";
    font-weight: bold;
    background-color: hsla(21, 77%, 39%,.5);
    background-image: url("/img/woodgrain1OilBig.jpg"); 
    background-size: 100% auto;
    text-shadow: 1px 0 2px hsl(0,3%,55%);
}

h2 {
    margin:20px auto; 
    width: 300px; 
    border-radius: 7px;
    border: solid saddlebrown; 
}


a { color:saddlebrown; text-decoration: none; padding: 10px;}

a:visited { color: linen; }

a:hover. a:focus  { color: wheat;}

ul { padding:0;}
li, ul { display:inline;}
li { margin:0;}


.wrapper {
    min-height:100%;
    position:relative;
}
.header {
    padding:10px;
}
.content {
    padding:10px;
    padding-bottom:80px;   /* Height of the footer element */
}

footer li { display: inline;}
footer div { color:black;}

.footer {
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
    left:0;
}

.error { 
    background-color: tomato;
    display:block; margin-top:5px;
    margin-bottom: 0; 
    font-family: serif "Roboto";
    font-size: 16pt;
}

