
/* Form Styling  */


.forms { background-image: url("/img/woodgrain1OilBig.jpg"); 
    background-size: 100% auto;
    margin: 0 auto; 
    margin-left: 25%;
    width: 60%;
    text-align: left;
    border-radius: 5px;
}

form, form div { display: block;}

select, label, input,textarea { 
    display:inline-block;
    border-radius:7px;
    border:none;
    background-color: wheat;
    background-size: 100% auto; 
    margin:5px;
    padding:5px;
    margin-left: 25px;
    width: auto;
    color: maroon;
    font-size: 14px;
    font-family: 'Metamorphous', "Serif";
    text-align: left;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    display:inline-block;
    width: auto;
}

#quantity { margin-right: 240px; margin-top: 40px; }

input[type="text"] {  font-size: 20px;    color: maroon;
    font-family: 'Metamorphous', "Serif";
    text-align: left; }

input[type="submit"] {  border-radius:7px; margin-top: 0; }



label { 
    color: maroon;  
    width: 300px;
    font-size: 20px;
    font-family: 'Metamorphous', "Serif";
    text-shadow: 0 0 1px hsl(0,12%,25%);  
}



table, td, tr, th { padding: 5px; margin: 15px auto; line-height: 30px; text-align: center; border:solid; background-color:wheat;}
th {text-align: left;}

.small.form { width: 80px; margin-left: 5px; }
label.small.form[for='apt'] { margin-left: 25px; }
input#apt, input#pobox, input#rr { width: 80px; margin:0;}



/*  credit card input for Stripe form */

#cardno { width:400px; }
.forms.credit>label  { margin: 10px;}
#cvc { width: 140px;}
#cvc input { width: 100px; }
